<div fxFlex fxLayout="column" fxLayoutGap="10px">


    <mat-card>
        <mat-card-header>
            <mat-card-title>Contagiati</mat-card-title>
        </mat-card-header>
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="seriesConfirmed" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [timeline]="true" [animations]="true" [autoScale]="true" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-line-chart>

    </mat-card>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Contagiati  Tassi Crescita</mat-card-title>
        </mat-card-header>
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="seriesConfirmedPlot"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel" [timeline]="true" [animations]="true" [autoScale]="true"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>

    </mat-card>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Decessi</mat-card-title>
        </mat-card-header>

        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="seriesDeaths" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [timeline]="true" [animations]="true" [autoScale]="true" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-line-chart>

    </mat-card>




    <mat-card>
        <mat-card-header>
            <mat-card-title>Decessi  Tassi Crescita</mat-card-title>
        </mat-card-header>
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="seriesDeathsPlot" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [timeline]="true" [animations]="true" [autoScale]="true" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </mat-card>

</div>