<div fxFlex fxLayout="column" fxLayoutGap="40px"   style="height:100vh">
  
  <mat-toolbar  color="primary"> 
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
    
    
    
    
    <form   [formGroup]="this.form" fxLayout="column" fxFlex>
      
      
      <div fxLayout="column" fxFlex>
        
        <mat-form-field fxFlex>
          <mat-label>Nome Cittadino:</mat-label>
          <input matInput required placeholder="Nome Cittadino" formControlName="nome">
        </mat-form-field>
        
        
        <mat-form-field fxFlex>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required  
          placeholder="Ex. pat@example.com">
        </mat-form-field>
        
        
        
        
        
        <mat-form-field fxFlex>
          <mat-label>Eta:</mat-label>
          <input matInput type="number" required placeholder="Eta" formControlName="eta">
        </mat-form-field>
        
        <div fxFlex>
          <label>Sesso:</label>
          
          <mat-radio-group   required aria-label="Sesso" formControlName="sesso"> 
            <mat-radio-button value="M">Maschio</mat-radio-button>
            <mat-radio-button value="F">Femmina</mat-radio-button>
          </mat-radio-group>
          
        </div>
        
        
        <mat-form-field fxFlex >
          <mat-label>Dove ti trovi:  </mat-label>
          <input matInput required
          placeholder="Ex. Via N, Comune"
          aria-label="Ex. Via N, Comune"
          [matAutocomplete]="auto"
          formControlName="via" 
          > 
          <!-- [formControl]="this.stateCtrl"  -->
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
          (optionSelected)="onSelectionChanged($event)"  >
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            <span>{{state.place_name}}</span>  
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="map" id="map"></div>
      <!-- <div id="geocoder" class="geocoder"></div> -->
      <div fxFlex> 
        <label>Informazioni:</label>
        
        
        <mat-selection-list   (selectionChange)="selectionChange1( $event )"  >  
          <mat-list-option  *ngFor="let info of dizionarioInformazioni" [value]="info.key" >
            {{info.label}}
          </mat-list-option>
        </mat-selection-list>
        </div>
        
        <div fxFlex> 
          <label>Sintomi:</label>
          
          
          <mat-selection-list   (selectionChange)="selectionChange( $event )"  >  
            <mat-list-option  *ngFor="let sintomo of dizionarioSintomi" [value]="sintomo.key" >
              {{sintomo.label}}
            </mat-list-option>
          </mat-selection-list>
          
          
        </div>
        
        
        
        <button  mat-stroked-button color="primary" [disabled]="this.form.status=='INVALID'" (click)="onSubmit()">
          Submit
        </button>
        
        
        
      </div>
      
    </form>
    
    <swal
    #successSwal
    
    title="Grazie per la tua partecipazione"
    icon="success"
    [showCancelButton]="false"
    [focusCancel]="false"
    >
  </swal>
  
 
  <canvas #valueBarsCanvas></canvas>
  
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Dove ti trovi</th>
        <th>Tampone</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Point</th>
        <th>Sintomi</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let order of coffeeOrders">
        <td>
          {{ order.payload.doc.data().nome }}
        </td>
        
        <td>{{ order.payload.doc.data().via }}</td>
        <td>{{ order.payload.doc.data().tampone }}</td>
        <td>{{ order.payload.doc.data().lat }}</td>
        <td>{{ order.payload.doc.data().lng }}</td>
        <td>{{ order.payload.doc.data().point|json }}</td>
        
        
        <td>
          {{order.payload.doc.data().sintomi|json}}
        </td>
        <td [hidden]="order.payload.doc.data().completed" (click)="markCompleted(order)">
          <i class="material-icons">check</i>
        </td>
        <td [hidden]="order.payload.doc.data().completed" (click)="deleteOrder(order)">
          <i class="material-icons">delete_forever</i>
        </td>
      </tr>
    </tbody>
  </table>  
  
</div>
</div>